.home{
    width: 100%!important;
    height:111vh!important;
}


.navbar-nav{
    background: transparent!important;
}

.navbar-nav a{
    color: black;
    font-size: 20px;
    padding-right: 20px!important;
    top:0;
}
.guidelines h5{
  
    
  
    width:20%;
    font-size: 20px;
    padding: 15px;
    border-radius: 15px;
    color: white;
    background-color: rgb(127, 127, 246);
    margin-top: 50px;
    margin-left:39%;
    text-align: center;
}
.dropdown-menu{
    color: red;
}

.heading{
    font-size: 25px;
    color: white;
    padding-bottom: 6px;
}
.rf h5{
  
    
    
    width:20%;
    font-size: 20px;
    padding: 15px;
 
    border-radius: 15px;
    color: white;
    background-color: rgb(127, 127, 246);
    margin-top: 5%;
    margin-left: 40%;
    text-align: center;
}
.guideinfo{
  
   
    font-size: 20px;
    margin-left: 112px;
    margin-right: 112px;
    margin-top: 20px;
    background: #ffca28;
    border-radius: 15px;
    padding: 5px;
}
.feesinfo{
  
   
    font-size: 20px;
    margin-left: 112px;
    margin-right: 112px;
    margin-top: 20px;
    background: #ffca28;
    border-radius: 15px;
    padding: 5px;
}
.footer{
    height: 30%!important;
    width: 96%;
    margin-left: 2%;
}



